<!DOCTYPE html>
<html>
<head>
  <title>PatternateRuby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <form method="POST">
    <input type="text" name="search">
    <input type="submit" value="Find patterns">
  </form>
  <form method="POST">
    <input type="hidden" name="clear">
    <input type="submit" value="Start again">
  </form>
  
  
<%= yield %>

</body>
</html>
